
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 20px;
    margin: 0px;
    max-width: 100%;
    min-width: 200px;
    
    
    }
    
    header { 
    background-color: rgb(251, 225, 233);
    font-style:bold;
    padding: 1em 0;
    text-align: center;
    height: 250px;
    max-width:100%;
    
    } 
    
    .logo{
    max-width: 100px;
    cursor: pointer;
    
    }
    
    .idioma{
    position: absolute;
    top: 0px;
    margin-left: 10px;
    margin-top: 10px;
    border-style:outset;
    border-radius: 2px;
    font-size: medium;
    background-color: pink;
    width:120px;
    height:30px;
    max-width: 100%;
    
    }
    
    .idioma:hover{
    background-color:#fff;
    
    }
    
    .encabezado{
     font-size:medium;
     text-align: center;
     height: 500px;
     background-image: url(../fotos/encabezado.jpg);
     background-size:cover;
     color: white;
     max-width: 100%;
     min-width: 20px;
    
    
     
    }

    .actividad{

    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    min-width: 200px;
    }
    
    
    
    
    .resumen{
    font-size: medium;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    }




    img{
        width: 200px;
        padding: 15px;
        margin-left: 20px;
        margin-right: 5px;
        border-radius: 50%;
        max-width: 100%;
        
        
       
        
    
       }

    

    .column:hover img{

        background-color: violet;
        filter: grayscale(80%);

        


    }


       

    .row{
        display:inline-flex;
        padding: 2px;
        max-width: 100%;
        min-width: 100px;
        flex-wrap:nowrap;
        align-items: center;
        vertical-align: middle;
        margin:4em 0 1em 7.5%;
        position: relative;
       
        
        
        
    }

    .column {
        flex: 20px; 
        overflow: hidden;
        column-gap: 1px;
        max-width: 100%;
        justify-content:space-evenly;
        align-items: center;
        
        
       

    }

   




    /* .row{
    
       width: 18%;
       margin:1em 0 1em 2.5%;
       border:1px solid #ddd;
       padding: 0.3em;
       box-sizing: border-box;
       display: inline-block;
       max-width: 100%;
       
       
    } */


    /* .row.column.img{
        width:100%;
        display: flex;
        flex-direction: row;
        float: left;

        

    } */

   

   /* ESTILOS FOOTER */

footer {
    background-color: rgb(22, 30, 55);
    clear: both;
    padding: 0.2em 0;
    margin-bottom: 0;
    margin-top:2em ;
    text-align: center;
    font-size: 15px;
    color: #fff;
    max-width: 100%;
    
    }