body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 20px;
    margin: 0px;
    max-width: 100%;
    min-width: 300px;
   
}

header { 
    background-color: rgb(251, 225, 233);
    font-style:bold;
    padding: 1em 0;
    text-align: center;
    height: 250px;
    max-width:100%;
   
       
} 

.logo{
    max-width: 100px;
    cursor: pointer;
    
}

.idioma{
    position: absolute;
    top: 0px;
    left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-style:outset;
    border-radius: 2px;
    font-size: medium;
    background-color: pink;
    width:120px;
    height:30px;

}

.idioma:hover{
    background-color:#fff;

}

.encabezado{
    font-size: large;
    text-align: center;
}

.hero-imagen{
    position: relative;
    padding:0;
    margin:0;
    max-width: 100%;
    height:auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagenes/vivo1.jpg);
}

.hero-imagen::before{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0);

}

.hero-content{

    position: relative;
    width: 60%;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin: auto;
    


}

.holder{
    background-color: rgb(251, 225, 233);
    margin-top:0;
    max-width: 100%;
    padding-top: 50px;
    
}

h2{
    text-align: center;
    font-size: 25px;
}

h3{
    font-size: 22px;
}

.texto p{
    font-size: 20px;
}
.texto{
    border:1px solid gray;
    border-radius:0.7em;
    margin:1em 0;
    padding: 1em;
    overflow: hidden;
    background-color: violet;
    padding-bottom: 15px;
    max-width: 100%;
    cursor: pointer;
    transition: 0.3s;
    
    
    
    




}

.texto:hover {
    transform: translate(0, -10px);
    background-color: lightblue;
    
}



footer{
    background-color: rgb(22, 30, 55);
    clear: both;
    padding: 0.2em 0;
    margin-bottom: 0;
    margin-top:0;
    text-align: center;
    font-size: 15px;
    color: #fff;
    max-width: 100%;
    padding-top: 20px;
    }