
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 20px;
    margin: 0px;
    max-width: 100%;
    min-width: 300px;
   
}

/* ESTILO HEADER */

header { 
    background-color: rgb(251, 225, 233);
    font-style:bold;
    padding: 1em 0;
    text-align: center;
    height: 250px;
    max-width:100%;
   
       
} 

.logo{
    max-width: 100px;
    cursor: pointer;
    
}

.button{
    position: absolute;
    top: 0px;
    right: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-style:outset;
    border-radius: 2px;
    font-size: medium;
    background-color: pink;
    width:120px;
    height:30px;
    
}

.button:hover{
    background-color:#fff;

}

.idioma{
    position: absolute;
    top: 0px;
    left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-style:outset;
    border-radius: 2px;
    font-size: medium;
    background-color: pink;
    width:120px;
    height:30px;

}

.idioma:hover{
    background-color:#fff;

}

nav{
    background-color: rgb(251, 225, 233);
    margin-bottom: 0;
    max-width: 100%;
   
   
}

nav ul{
    list-style:none;
    margin: 0;
    padding:0;
    max-width: 100%;
    justify-content: center;
    right:0;

}

nav ul li{
    display:inline-block;
    width: 24.67%;
    max-width: 100%;
    justify-content: center;

}

nav ul li {
    color:black;
    text-decoration: none;
    text-align: center;
    display:inline-block;
    padding: 0.2em 0.4em;
    cursor: pointer;
    font-size: medium;
    max-width: 100%;


}

nav ul li:hover {
    background-color:pink;
    max-width:100%;
    
}
    



/* ESTILOS HERO */

.hero-imagen{
    position: relative;
    padding:0;
    margin:0;
    max-width: 100%;
    height:auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagenes/vivo1.jpg);
    

}

.hero-imagen::before{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0);

}

.hero-content{

    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:auto;


}

.hero-content-inner h2{
    font-size: 30px;
    color: black;




}

.hero-content-inner p{
    font-size: 20px;
    max-width: 100%;

} 

.hero-content-inner button{
    width:170px;
    height:50px;
    margin-top:40px;
    border-radius:50px;
    outline:none;
    font-size: 15px;
    text-transform: capitalize;
    background-color:rgb(115, 72, 218);
    color: white;
    box-shadow:0 0 30px rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all ease .2s;
    max-width: 100%;


}

.hero-content-inner button:hover{
    border-color: #fff;
    color: #fff;
    background:black;
    max-width: 100%;
}
   

/* ESTILOS CONTENEDOR */

.contenedor{
    background-color: white;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content:center;
    gap: 40px;

    
    
}

/* ESTILOS ITEMS */

.imagen{
    width: 600px;
    position: relative;
    max-width: 100%;
    min-width: 300px;
    cursor: pointer;
     
}

.imagen:hover.imagen{-webkit-transform: scale(1.2);transform:scale(1.2);}
/* .contenedor{overflow:hidden;} */

.item{
    width: 600px;
    overflow: hidden;
    max-width: 100%;
    
    

}


.nombre{
    text-align: center;
    padding:0;
    top:0;
    border-style:none;
    border-radius:50px;
    background-color: rgb(247, 35, 229);
    border: 1px solid transparent;
    justify-content: center; 
    font-size: 20px;
    cursor: pointer;
    outline:none;
   
   
    
   


    
    /* 
    position: relative; 
    display: flex;
    margin-top: auto; */

}

.nombre h3{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: #fff;
    margin-top: 5px;

    
    
    
      

}

.nombre:hover{

    background-color:black;

}

/* audio::-webkit-media-controls-play-button,

audio::-webkit-media-controls-panel {


  background-color: #a0276e;

  color: #a0276e;


} */

/* .audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  } */

.redes {
    list-style:none;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
    justify-content: center;

 


}

.redes ul li{
    color:black;
    text-decoration: none;
    justify-content: center;
    display:inline-block;
    padding: 0em 4em;
    cursor: pointer;
    margin-top: 200px;
    width:18.3%;

    
   
   
}







/* ESTILOS FOOTER */

footer {
background-color: rgb(22, 30, 55);
clear: both;
padding: 0.2em 0;
margin-bottom: 0;
margin-top:2em ;
text-align: center;
font-size: 15px;
color: #fff;
max-width: 100%;
}




    
